.square {
  width: 10%;
  height: 10%;
  border-bottom: 1px solid #bbb;
  border-left: 1px solid #bbb;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

.square.empty:hover {
  background-color: #eee;
}

.square.destination:hover {
  background-color: #dbffd7;
}

.square .number {
  transition: border-bottom 0.2s linear;
  border-bottom: 2px solid transparent;
}

.square.current .number {
  border-bottom: 2px solid #bbb;
}