.quad {
  width: 501px;
  height: 501px;
  margin: 3rem auto;
  border-left: 1px solid #bbb;
  border-top: 1px solid #bbb;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0px 7px 45px #999, 0px 3px 0px #ccc;
  background: white;
  overflow: hidden;
}
